.topic-content {
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.topic-content h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.topic-content h2 {
  padding-top: 8px;
}

.topic-content h3 {
  padding-top: 8px
}

.topic-content h4 {
  padding-top: 8px;
}

.topic-content p {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.topic-content ul {
  padding-left: 20px;
}

.topic-content b {
  color: #333;
}

.topic-content pre {
  background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.topic-content a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.topic-content a:hover {
  text-decoration: underline;
}

code {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  font-size: 0.9rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: none;  
  border-radius: 50%;
}